/*-----------------------------------------------------------
        Big
/*-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------
        Top
/*-----------------------------------------------------------*/
.title-top {
    font-family: 'Oswald', sans-serif;
    /*
    margin-left:1.5%;
    margin-right:1.5%;
    width:97%;
    */
    margin-left:0%;
    margin-right:0%;
    width:100%;
    background-color: black;
    color: white;
    background-size: cover;
    background-position: center;
    height: 80px;
    float: left;
    border-bottom: 2px solid white;
}
.title-top a{
    text-decoration: none;
    color: white;
}
.title-top h1{
    text-align: center;
    padding-top: 20px;
}
/*-----------------------------------------------------------
        Top
/*-----------------------------------------------------------*/
.top {
    /*
    margin-left:1.5%;
    margin-right:1.5%;
    width:97%;
    */
    margin-left:0%;
    margin-right:0%;
    width:100%;
    background-color: black;
    color: white;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    height: 100px;
    float: left;
    border-bottom: 2px solid white;
}
.top p{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
#search-wrapper{
    width: 65%;
    float: left;
}
#search{
    width: 50%;
    background-color: black;
    color: white;
    margin-left: 1%;
    padding-bottom: 5px;
    padding-top: 10px;
    float:left;
}

#search input{
    width: 100%;
    border-radius: 5px;
    color: black;
    padding-top:10px;
    padding-bottom: 10px;
    font: 20px 'Oswald', sans-serif;
}

#search input[type="text"]{
    background-color: lightgrey;
    border: 2px solid lightgrey;
}

#login{
    float: left;
}
#login h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 22px;
    float: left;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
}
#login a{
    text-decoration: none;
    color: white;
}
#login img{
    height: 50px;
    margin-top: 30px;
    margin-left:15px;
}

#shopping-cart{
    float: right;
    margin-right: 2.5%;
}
#shopping-cart img{
    height: 50px;
    margin-top:30px;
}


/*-----------------------------------------------------------
        Navigation and Header
/*-----------------------------------------------------------*/
.navigation {
    /*
    margin-left:1.5%;
    margin-right:1.5%;
    width:97%;
    */
    margin-left:0%;
    margin-right:0%;
    width:100%;
    background-color: black;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    height: 100px;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.dropdown {
    padding-top: 20px;
    display: inline-block;
    width: 12.5%;
    text-align: center;
    float: left;
    font-size: 22px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Oswald', sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown ul{
    padding-top: 90px;
    float: left;
}


.dropdown li {
    font-size: 26px;
    display: inline;
}

.dropdown a {
    text-decoration: none;
    color: white;
    padding-left:10px;
    padding-right: 10px;
}

.header a:hover {
    color: gainsboro;
    border-bottom: 4px solid orangered;
}


/*-----------------------------------------------------------
        Product Body
/*-----------------------------------------------------------*/
.product-parent{
    width: 90%;
    margin-left: 5%;
    float: left;
    padding-top: 30px;
}
.product{
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
    margin-bottom: 10px;
}

.product img{
    height: 200px;
    width: 100%;
}

.product p{
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.product a{
    text-decoration: none;
    color: black;
}
.product a:hover{
    cursor: pointer;
    color: slategrey;
}

/*-----------------------------------------------------------
        Footer
/*-----------------------------------------------------------*/
.footer{
    float: left;
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1%;
}

.footer ul{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
}

.footer li {
    font-family: sans-serif;
    font-size: 26px;
    display: inline;
    
}

.footer a {
    text-decoration: none;
    color: white;
    padding-left:10px;
    padding-right: 10px;
    
}

.footer a:hover {
    color: orangered;
}

.footer img{
    opacity: 0.7;
    height: 50px;
    width: 50px;
}
.footer img:hover{
    opacity: 1.0;
}


.inventory-list{
    padding-top: 15px;
    width: 95%;
    margin-left: 2.5%;
    float: left;
}

.inventory-list p{
    width: 20%;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.styled-select {
    float: left;
    width: 50%;
    margin-left: 1%;
    height: 45px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.styled-select select {
    background: lightgrey;
    color: black;
    width: 100%;
    line-height: 45px;
    font-size: 18px;
    height: 45px;
    float: left;
    border: 3px solid black;
    font-family: 'Oswald', sans-serif;
}

.styled-select select option{
    background-color: black;
    color:white;
    float:left;
}

.go-button{
    width: 5%;
    float:left;
    margin-left: 2.5%;
    height: 45px;
    border-radius: 3px;
}

.go-button button{
    float:left;
    background-color: lightgrey;
    width: 100%;
    height: 45px;
    color: black;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border: 3px solid black;
    border-radius: 3px;
}

.go-button button:hover{
    cursor: pointer;
    background-color: orangered;
    border: 3px solid orangered;
    color: white;
}





